{% extends "base.html" %}


{% block content %}
    <a href="{{previous_url}}">Go back</a>
    <p>This results in the below when put together</p>
    {% for dashboard in data %}
        <l1>
            <ul><a href="{% url 'get_dashboard' dashboard.id  %}">{{dashboard.name}}</a></ul>
        </l1>
    {% endfor %}
    {% for card in card_data %}
        <l1>
            <ul><a href="{% url 'get_card' card.id  %}">{{card.name}}</a></ul>
        </l1>
    {% endfor %}
    {% if iframeUrl %}
    <iframe
       src="{{iframeUrl}}" 
       width="1200" 
       height="800" 
       frameborder="0"
   >        			
    </iframe>
    {% endif %}
{% endblock %}